name: Update MC Verification
on:
  repository_dispatch:
    types: [verify_mc_event]

# ADD THIS PART:
permissions:
  contents: write

jobs:
  update-file:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Replace Meta Tag Content
        run: |
          # Finds the meta tag and replaces the old content value
          sed -i 's/content="[^"]*"/content="${{ github.event.client_payload.mc_code }}"/' index.html

      - name: Commit and Push
        run: |
          git config --global user.name "Automation Bot"
          git config --global user.email "bot@test.com"
          git add index.html
          # Use "|| true" to prevent the script from crashing if there's no change
          git commit -m "Updated MC Tag" || true
          git push
